.header{
    position: fixed; width: 100%; top: 0; left: 0; z-index: 1;
    
}
.header .inner{
    display: flex; justify-content: space-between; height: 100px; align-items: center; max-width: none;
} 
.header ul{
    display: flex; justify-content: center; gap: 20px; border-bottom: 1px solid #000;
    padding-left: 10px; padding-bottom: 10px;
}
.header ul li{
    font-family: 'Metal', serif;
    text-transform: uppercase;
    font-size: 1.4vw; 
    color: #000;
}
.header ul li.active{
    color: #fff; 
}

/* home */
.home{
    height: 100vh;
    background-color: #F0F0F0;
}
.home .inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
}
.home .home-circle{
    position: absolute;
    width: 18%;
    min-width: 300px;

}
.home .home-circle img{
    width: 100%;
}
.home .inner .top-circle{
    top: 12%; left: 11%;
    
}
.home .inner .btm-circle{
    bottom: 10%; right: 6%;
}
.home .inner h1{
    font-size: 14vw;
    font-family: "kudryashev-d-excontrast-sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    line-height: 1.2;
    color: #000;
   
}

/* about */
.about{
    padding: 15rem 0;
   
}
.about-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.about-top .about-img{
    width: 30%;
}
.about-top .about-img img{
    width: 100%;
}

.about-top p{
   line-height: 1.6;
   
}
/* about 이어서 education~ */
.about-btm{
    display: left;
    align-items: left;
    justify-content: space-between;
    padding: 15rem 0;

}
.about-btm .title{
    
    margin-top: 10rem;
    padding: 2rem 0;
}
.about-btm ul{

}
.about-btm ul li{
     line-height: 2;
 }
.about-btm-layout{
    display: flex;
    justify-content: space-between;
    
}
.about-btm-contents.about-skill{
    width: 60%;  
}
.about-btm-contents.about-skill ul{
    display: flex;
}
.about-btm-contents.about-skill ul li{width: 20%; max-width: 80px;}
.about-btm-contents.about-skill ul li img{width: 100%;}
.about-btm-contents.about-license{
    width: 40%;
    
} 
    
   

 /* portfolio */
.portfolio{
    padding: 15rem 0;
}
.tab-list{
 display: flex; justify-content: center; gap: 10px; margin-bottom: 20px;
} 
.tab-list li{
padding: 0 20px; border: 1px solid #000; height: 45px;
display: flex; align-items: center; border-radius: 30px;
cursor: pointer;
}
.tab-list li.active{
background-color: #000; color: #fff;
}
.tab-content{
position: relative; margin-bottom: 20px;
}
.tab-content ul li .imgbox{
position: relative; width: 55%;
}
.tab-content ul li .imgbox::after{
    content: "";
    display: block;
    padding-bottom: 60%;
}
.tab-content ul li .imgbox img{
width: 100%; position: absolute; top: 0; object-fit: cover;
}
.tab-content ul li{
    display: flex;
    justify-content: space-between;
   

}
.tab-content ul li .textbox{
     width: 40%;
}
.tab-content ul li h1{}
.tab-content ul li h2{
    line-height: 10;
}
.tab-content ul li p{
    line-height: 0;
}
